mixin footer()
  footer.footer(id="footer")
    .container
      .footer__wrap
        .footer__logo
          img(src="img/svg/logo-white.svg" alt="logo")

        ul.menu 
          li.menu-item 
            a(href="#") Privacy Policy
          li.menu-item 
            a(href="#") Contact us
          li.menu-item 
            a(href="#") Unsubscribe
          li.menu-item 
            a(href="#") Do not sell my personal information

        p.footer__copyright © 2020 Partner.
          br
          |  All Rights Reserved.

      // /.footer__wrap
    // /.container
  // /.footer

