mixin scr1()
  section.scr1(id="scr1")
    .container
      h1.scr1__title How over 
        strong.accent  410,000 americans 
        |  increased their property value 
        strong.accent  in under 6 hours* 
        |  with this simple upgrade.
      
      ul.scr1__feat
        li
          .scr1__featItem
            img(src="img/svg/feat-1.svg", alt="")

            p Lifetime warranty with 100% no-clog guarantee
        li
          .scr1__featItem
            img(src="img/svg/feat-2.svg", alt="")

            p Fits every home
        li
          .scr1__featItem
            img(src="img/svg/feat-3.svg", alt="")

            p Installs over existing gutters saving you thousands
        li
          .scr1__featItem
            img(src="img/svg/feat-4.svg", alt="")

            p Customer rating

  // /.scr1
