mixin scr_footnote()
  section.scr_footnote.footnote(id="scr_footnote")
    .container
      .footnote__content 
        p * - The actual installation time may vary depending on home size, weather conditions, scope of work, etc..

  // /.scr_footnote  
