mixin scr_questions()
  section.scr_questions.questions(id="scr_questions")
    .container
      ul.questions__list 
        li.questions__item 
          .questions__content
            h3.page-title Does Partner™ Stop Ice Dams From Forming?
            p Partner™ offers protection against ice dams in 4 different ways: No clogged gutters in winter, angled so snow slides off and doesn’t freeze, snow melt drains and guards are made from steel to stop “buckling”.

          .questions__img.questions__img_withLabel
            img(src="img-temp/question-1.jpg", alt="", data-object-fit-cover)

        li.questions__item 
          .questions__content
            h3.page-title Can Partner™ Handle Heavy Rains?
            p Yes, absolutely. Our gutter guards are installed across America – including in areas with torrential downpours and hurricanes!

          .questions__img
            img(src="img-temp/question-2.jpg", alt="", data-object-fit-cover)

        li.questions__item 
          .questions__content
            h3.page-title What If Leaves & Debris Simply Pile Up On Top Of Partner?
            p Partner️™ is installed at an ideal angle so debris slides right off, never builds up on top of the filter guards and stops water from overshooting the gutter.

          .questions__img
            img(src="img-temp/question-3.jpg", alt="", data-object-fit-cover)

  // /.scr_questions  
