mixin scr_advantages()
  section.scr_advantages.advantages(id="scr_advantages")
    .container
      h2.page-title How We Keep Low Prices
      p.page-desc We are the only installer of Partner™ in the United States, providing homeowners with one single point of contact for sales and service. By not relying on an independent dealer network, we are able to maintain a high level of quality control and service. And, since there is no middle man, we pass the savings on to you!

      .row 
        .col-md-3 
          .advantages__item 
            .advantages__img 
              img(src="img-temp/advantages-1.jpg", alt="", data-object-fit-cover)
            
            h3 Free Gutter Evaluation

        .col-md-3 
          .advantages__item 
            .advantages__img 
              img(src="img-temp/advantages-2.jpg", alt="", data-object-fit-cover)
            
            h3 Same Day Install Available
            
        .col-md-3 
          .advantages__item 
            .advantages__img 
              img(src="img-temp/advantages-3.jpg", alt="", data-object-fit-cover)
            
            h3 Manufactured In The USA

        .col-md-3 
          .advantages__item 
            .advantages__img 
              img(src="img-temp/advantages-4.jpg", alt="", data-object-fit-cover)
            
            h3 Service &amp; Support Included
            
  // /.scr_advantages  
