mixin scr_warranty()
  section.scr_warranty.warranty(id="scr_warranty")
    .container
      .row 
        .col-sm-3 
          img(src="img/svg/lifetime.svg", alt="")
        .col-sm-9 
          .warranty__content 
            h2.page-title 
              span.accent Lifetime 
              |  Warranty
            
            p With our lifetime, transferable warranty, you’ll enjoy the peace of mind that Partner™ will last as long as you own your home.

  // /.scr_warranty  
